<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/home11-grid.html   11 Nov 2019 12:31:50 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Rodamientos Calena S.A. de C.V.</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'CalenaApp/images/logo.png' %}" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/plugins.css' %}">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/bootstrap.min.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/style.css' %}">
<link rel="stylesheet" href="{% static 'CalenaApp/css/responsive.css' %}">
</head>
<body class="template-index home11-grid">
<div id="pre-loader">
    <img src="{% static 'CalenaApp/images/loader2.gif' %}" alt="Loading..." />
</div>
<div class="pageWrapper">

    <!-- Start navbar section -->
	{% include 'CalenaApp/navbar.html' %}
	<!-- Ends navbar section -->
    
    <!--Body Content-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="section" style="padding-top: 0px;">
            <div class="hero hero--small hero__overlay bg-size">
                <img class="bg-img blur-up" src="{% static 'CalenaApp/images/Group 5.png' %}" alt="" />
                <div class="hero__inner">
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 50px;">
                            <style>
                                .h2indez{
                                text-transform: none;
                                font-size: 35px;
                                color: #EF502E;
                                font-weight:bold;
                                font-family: 'Open Sans', sans-serif;
                            }

                            .prov{
                                text-transform: none;
                                font-size: 20px;
                                color: white;
                                font-family: 'Open Sans', sans-serif;
                            }
                            </style>
                            <h2 class="h2indez text-left" style="color: white;">Nuestros proveedores</h2>
                          <p class="prov text-left ml-4">Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum</p>
                        </div>
                        <div class="col-md-6 pt-4">
                            <style>
                                .btnindex2{
                                            background-color: transparent;
                                            color: white;
                                            border: 2px solid white;
                                            padding: 10px 20px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 20px;
                                            margin: 4px 2px;
                                            cursor: pointer;
                                            border-radius: 8px;
                                            width: 250px;
                                            font-weight:bold;
                                        }
                            </style>
                            <a href="catalogo.html" class="btnindex2">Cotizar ahora</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->

       <div class="product-rows section">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <style>
                            .h2indez{
                                    text-transform: none;
                                    font-size: 35px;
                                    color: #EF502E;
                                    font-weight:bold;
                                    font-family: 'Open Sans', sans-serif;
                                    text-transform: none;
                                    margin-left: 20px;
                                }
                        </style>
                        <p class="h2indez">Gran varidad de marcas</p>
                    </div>
                </div>
            </div>
            <div class="grid-products grid-products-hover-btn">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/aurora.png' %}" src="{% static 'CalenaApp/images/Logos/aurora.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/aurora.png' %}" src="{% static 'CalenaApp/images/Logos/aurora.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1YvtH0d5ckiTbKFF_JnX9QuWh9ryMkmW8?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/bando.png' %}" src="{% static 'CalenaApp/images/Logos/bando.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/bando.png' %}" src="{% static 'CalenaApp/images/Logos/bando.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1VdGIJXIqWBjrrdoTRKv2VVWAYKTBm77J?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/dodge.png' %}" src="{% static 'CalenaApp/images/Logos/dodge.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/dodge.png' %}" src="{% static 'CalenaApp/images/Logos/dodge.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/188NNYP4Dl1rsI1Z4VF4ewSpt7h06_3ZH?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/jtek.png' %}" src="{% static 'CalenaApp/images/Logos/jtek.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/jtek.png' %}" src="{% static 'CalenaApp/images/Logos/jtek.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1yyTh6x2VhYG6rIIZGdhvSVtoKk8g8lLd?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/lovejoy.png' %}" src="{% static 'CalenaApp/images/Logos/lovejoy.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/lovejoy.png' %}" src="{% static 'CalenaApp/images/Logos/lovejoy.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1WeNOhUIGpxtsMWYlXdNixC9yJsfZ-DH5?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/nachi.png' %}" src="{% static 'CalenaApp/images/Logos/nachi.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/nachi.png' %}" src="{% static 'CalenaApp/images/Logos/nachi.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/16hnnEubN-4H8iO4FXWfQ3jof00F8h3Xe?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/nsk.png' %}" src="{% static 'CalenaApp/images/Logos/nsk.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/nsk.png' %}" src="{% static 'CalenaApp/images/Logos/nsk.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1zxtMPVuSr-8zMHK9TKm9OCbIf3Wu-2mG?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/regal.png' %}" src="{% static 'CalenaApp/images/Logos/regal.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/regal.png' %}" src="{% static 'CalenaApp/images/Logos/regal.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1jbU1aY-16z7f4_dV6spc09_26fpURp6v?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/schaeffler.png' %}" src="{% static 'CalenaApp/images/Logos/schaeffler.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/schaeffler.png' %}" src="{% static 'CalenaApp/images/Logos/schaeffler.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1eALRRcHuPLPFE7nG85GXm6Nw92_w6f3J?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/skf.png' %}" src="{% static 'CalenaApp/images/Logos/skf.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/skf.png' %}" src="{% static 'CalenaApp/images/Logos/skf.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1uq6R3v-Ma7XbiIj4HPg6ImdnDo6j47dI?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/smith.png' %}" src="{% static 'CalenaApp/images/Logos/smith.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/smith.png' %}" src="{% static 'CalenaApp/images/Logos/smith.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1GMOSYdtmjmhx0U371mlObOQVJZRIjgJF?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/sumitomo.png' %}" src="{% static 'CalenaApp/images/Logos/sumitomo.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/sumitomo.png' %}" src="{% static 'CalenaApp/images/Logos/sumitomo.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1fSTEncH3qmGQm8Set7vQuTPArL7-R--h?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/timken.png' %}" src="{% static 'CalenaApp/images/Logos/timken.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/timken.png' %}" src="{% static 'CalenaApp/images/Logos/timken.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1UlC5tqiIyqLqfTOrdSEHILQZQqUsz0qb?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/tramec.png' %}" src="{% static 'CalenaApp/images/Logos/tramec.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/tramec.png' %}" src="{% static 'CalenaApp/images/Logos/tramec.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1Fhy7Qld-qE3dr02r88FioHvA1m-FyQHk?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/web.png' %}" src="{% static 'CalenaApp/images/Logos/web.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/web.png' %}" src="{% static 'CalenaApp/images/Logos/web.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/191lv-R81jsBMiAmHAnBuUGgrAOTRKevK?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 item">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image" style="width: 250px;">
                                <!-- start product image -->
                                <a >
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/tsubaki.png' %}" src="{% static 'CalenaApp/images/Logos/tsubaki.png' %}" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="{% static 'CalenaApp/images/Logos/tsubaki.png' %}" src="{% static 'CalenaApp/images/Logos/tsubaki.png' %}" alt="image" title="product">
                                    <!-- End hover image -->
                                    
                                </a>
                                <!-- end product image -->

                                <!-- Start product button -->
                                <form class="variants add" action="#"  >
                                    <a href="https://drive.google.com/drive/folders/1vQT17m3x7J0vN9ShbkJwEiKnXKdGik2J?usp=share_link" target="_blank"><button class="btn btn-addto-cart" type="button" tabindex="0">Descargar catálogo</button></a>
                                </form>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                
                                
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
            </div>
            <style>
                .btnprov{
                                                          background-color: #EF502E;
                                                          color: white;
                                                          border: 2px solid #EF502E;
                                                          padding: 10px 20px;
                                                          text-align: center;
                                                          text-decoration: none;
                                                          display: inline-block;
                                                          font-size: 20px;
                                                          margin: 4px 2px;
                                                          cursor: pointer;
                                                          border-radius: 8px;
                                                          width: 400px;
                                                          font-weight:bold;
                                font-family: 'Open Sans', sans-serif;
                                                      }
            </style>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <a class="btnprov" href="catalogo.html">Ver productos</a>
                    </div>
                </div>
            </div>
            
       </div>
    </div>	
    <!--End Featured Product-->

    </div>
    <!--End Body Content-->

    <!-- Start navbar section -->
	{% include 'CalenaApp/footer.html' %}
	<!-- Ends navbar section -->
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
    <!-- Newsletter Popup -->
	<div class="newsletter-wrap" id="popup-container">
      <div id="popup-window">
        <a class="btn closepopup"><i class="icon icon anm anm-times-l"></i></a>
        <!-- Modal content-->
        <div class="display-table splash-bg">
          <div class="display-table-cell width40"><img src="{% static 'CalenaApp/images/newsletter-img.jpg' %}" alt="Join Our Mailing List" title="Join Our Mailing List" /> </div>
          <div class="display-table-cell width60 text-center">
            <div class="newsletter-left">
              <h2>Join Our Mailing List</h2>
              <p>Sign Up for our exclusive email list and be the first to know about new products and special offers</p>
              <form action="#" method="post">
                <div class="input-group">
                  <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                  <span class="input-group__btn">
                  <button type="submit" class="btn newsletter__submit" name="commit" id="subscribeBtn"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                  </span> </div>
              </form>
              <ul class="list--inline site-footer__social-icons social-icons">
                <li><a class="social-icons__link" href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a class="social-icons__link" href="#" title="Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
	<!-- End Newsletter Popup -->
    
     <!-- Including Jquery -->
     <script src="{% static 'CalenaApp/js/vendor/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/modernizr-3.6.0.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/query.cookie.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/wow.min.js' %}"></script>
     <!-- Including Javascript -->
     <script src="{% static 'CalenaApp/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/plugins.js' %}"></script>
     <script src="{% static 'CalenaApp/js/popper.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/lazysizes.js' %}"></script>
     <script src="{% static 'CalenaApp/js/main.js' %}"></script>
     <!--For Newsletter Popup-->
     <script>
		jQuery(document).ready(function(){  
		  jQuery('.closepopup').on('click', function () {
			  jQuery('#popup-container').fadeOut();
			  jQuery('#modalOverly').fadeOut();
		  });
		  
		  var visits = jQuery.cookie('visits') || 0;
		  visits++;
		  jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		  console.debug(jQuery.cookie('visits')); 
		  if ( jQuery.cookie('visits') > 1 ) {
			jQuery('#modalOverly').hide();
			jQuery('#popup-container').hide();
		  } else {
			  var pageHeight = jQuery(document).height();
			  jQuery('<div id="modalOverly"></div>').insertBefore('body');
			  jQuery('#modalOverly').css("height", pageHeight);
			  jQuery('#popup-container').show();
		  }
		  if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
		}); 
		
		jQuery(document).mouseup(function(e){
		  var container = jQuery('#popup-container');
		  if( !container.is(e.target)&& container.has(e.target).length === 0)
		  {
			container.fadeOut();
			jQuery('#modalOverly').fadeIn(200);
			jQuery('#modalOverly').hide();
		  }
		});
		
		/*--------------------------------------
			Promotion / Notification Cookie Bar 
		  -------------------------------------- */
		  if(Cookies.get('promotion') != 'true') {   
			 $(".notification-bar").show();         
		  }
		  $(".close-announcement").on('click',function() {
			$(".notification-bar").slideUp();  
			Cookies.set('promotion', 'true', { expires: 1});  
			return false;
		  });
	</script>
    <!--End For Newsletter Popup-->
</div>
</body>

<!-- belle/home11-grid.html   11 Nov 2019 12:32:59 GMT -->
</html>